.TodoItem {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 12px;   
}

.task {

  width: 80%;
  min-width: 250px;
  display: flex;
    justify-content: space-between;
    align-items: center;
  background-color: var(--color-light);
  border: 2px solid var(--color-hidden);
  border-radius: 1em;
  box-shadow: var(--box-shadow);
}
  
.task__name {
  /* display: inline-block; */
  /* height: 25px; */
  padding: 0.3rem 0 0.3rem 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  overflow: hidden;
}

.task__end {
  display: flex;
    justify-content: flex-end;
}

.task__time {
  display: inline;
  margin-left: 16px;
  white-space: nowrap;
}

.task--complete p {
  text-decoration: line-through var(--color-hidden) solid 2px;
}

.task--complete {
  color: var(--color-hidden);
    
}
  
.Icon {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  /* background-color: #CCC; */
}
  
.Icon-check {
  color: var(--color-variation);
}

/* .Icon-check--active {
  color: #4caf50;
} */
  
.Icon-delete {
  margin-right: auto;
  color: var(--color-alert)
}

.complete .Icon-delete:hover {
  color: var(--color-alert);
}

.complete .Icon {
  color: var(--color-hidden);
}