.appTitle {
	margin-top: 1em;
	text-align: center;
	font-size: 4rem;
	font-weight:700; 
	color: var(--color-contrast);
}

.appTitle img {
	display: inline-block;
	height: 3rem;
}
  
.altMessage {
	text-align: center;
	margin: 2.5em 0;
	font-size: 2.3rem;
	color: var(--color-hidden);
}
  
.altMessage span {
	color: var(--color-alert);
	font-weight: 600;
}
