.myTaskApp {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
}
.welcome-left {
	display:none;
	margin:0 ;
	width: 20%;
	max-height: 430px;
	margin-right: 10px;
}
 .welcome-right {
	display:none;
	margin: 3rem;
	width:15%;
	max-height: 500px;
	
}

.myTasksApp-center {
	margin: 20px 20px;
	min-height: 80vh;
	width: 90vw;
	max-width: 450px;
	border: 2px solid var(--color-hidden);
	border-radius:28px; 
	background: var(--color-secondary);
  }

.appTitle {
	margin-top: 1em;
	text-align: center;
	font-size: 4rem;
	font-weight:700; 
	color: var(--color-contrast);
}

.appTitle img {
	display: inline-block;
	height: 3rem;
}
  
.altMessage {
	text-align: center;
	margin: 2.5em 0;
	font-size: 2.3rem;
	color: var(--color-hidden);
}
  
.altMessage span {
	color: var(--color-alert);
	font-weight: 600;
}

@media screen and (min-width:425px) {
	.appTitle {
		font-size:4.4rem;
	}
	.appTitle img {
		height: 3.4rem;
	}
	.TodoCounter {
		font-size: 2.2rem;
	}
	.TodoItem {
		font-size: 1.8rem;
	}
	.Icon-check {
		margin-left: 1em;
		margin-right: 0.32em;
	}
	.LoadingIcon {
		margin-left: 29px;
		margin-right: 12.7px;
	}
}
  
@media screen and (min-width:480px) {
.CreateTodoButton {
	bottom: 24px;
}
}

@media screen and (min-width: 580px) {
	.CreateTodoButton {
		position: fixed;
		bottom: 24px;
		right: 24px;
	}
}

@media screen and (min-width: 770px) {
	.myTaskApp-center {
		min-width:446px;
	}
	.welcome-left, .welcome-right {
		display: block;
		transition: 0.8s;
		object-fit:contain;
	}
}
