:root {
  --color-dark:#121f3d;
  --color-main:#fbfdff;
  --color-secondary:#2664fa;
  --color-variation:#64ffa7;
  --color-extra:#f57773;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--color-dark);
  color: var(--color-main);
  font-family: 'Nunito Sans', sans-serif;
}

#root {
  margin: 0 auto;
  /* position: relative; */
  min-height: 100vh;
  width: 450px;
}
