:root {

  --color-main: rgb(130,130,130);
  --color-secondary:#FFFFFF;
  --color-contrast:#0da5f3;
  --color-hidden:#dedede;
  --color-variation:#23CE88;
  --color-alert:#f57773;
  --box-shadow: 3px 5px 10px rgb(32 35 41 / 40%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
}

ul, ol {
  list-style: none;
}

a:not([class]) {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
/*   min-height: 100vh; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--color-secondary);
  color: var(--color-main);
  font-family: 'Poppins', sans-serif;
}


