.footer {
    margin: 20px auto 0;
    padding: 6px 12px 0;
    height: 100px;
    width: 80vw;
    max-width: 360px;
    overflow: hidden;
    transition: 0.8s;
}

.footer__loading {
    opacity: 0%;
}

.personalBrand {
    margin: 5px auto 0;
}

.footer-icons-container {
    margin: 0 auto;
    display: flex;
        justify-content: space-around;
}

.footer-icon {
    width: 3rem;
    height: 3rem;
    color: var(--color-contrast);
}

.footer-icon:hover {
    color: var(--color-variation);
}
