.TodoSearch {
  margin: 0 auto 2rem;
  height: 3em;
  width: 60%;
  min-width: 200px; 
  display: flex;
    align-items: center;
  font-size: 1.7rem;
  background: var(--color-secondary);
  border-radius: 32px;
  border: 2px solid var(--color-contrast);
  box-shadow: var(--box-shadow);
  transition: .8s;
}

.TodoSearch__input {
  width: 100%;
  margin: 0 1rem;
  text-align: center;
  font-weight: 600;
  color: var(--color-main);
  border: none;
}

.TodoSearch__input:focus {
  outline: none;
}

.TodoSearch__input::placeholder {
  color: var(--color-hidden);
  font-weight: 400;
}

.TodoSearch:hover  {
  border: 2px solid var(--color-variation);
  outline: none;
}

.TodoSearch__loading {
  border: 2px solid var(--color-hidden);
}

.TodoSearch__input__loading {
  opacity: 0%;
}
